GEMINI_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=./firebase-credentials.json

FIREBASE_WEB_API_KEY=
FIREBASE_TEST_EMAIL=
FIREBASE_TEST_PASSWORD=
FIREBASE_ID_TOKEN=
NOTIFICATION_SERVICE_URL=http://localhost:8001
